<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <link rel="icon" href="static/img/favicon.png">
    <title>Buglot - Collect Defects Automatically</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>All Defects</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Defect ID</th>
                            <th>Platform</th>
                            <th>Exception Type</th>
                            <th>Class</th>
                            <th>Function</th>
                            <th>Line Number</th>
                            <th>Number of Reports</th>
                            <th>Defect Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- THIS SECTION IS ALTERED BY A JSON 'GET' REQUEST -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
      $.getJSON("/query/", data, success);
      function data(_data)
      {
        _data.forEach(handleDefect);
      }
      function success(data)
      {

      }
      function handleDefect(defect)
      {
        $("tbody").append(
          '<tr class=' + getClassTypeFromStatus(defect.status) + '>' +
          '<td>' + defect._id + '</td>' +
          '<td>' + defect.platform + '</td>' +
          '<td>' + defect.exception_type + '</td>' +
          '<td>' + defect.class + '</td>' +
          '<td>' + defect.function + '</td>' +
          '<td>' + defect.line_num + '</td>' +
          '<td>' + defect.num_reports + '</td>' +
          '<td>' + defect.status + '</td>' +
          '/tr>'
        );
      }
      function getClassTypeFromStatus(status)
      {
        switch (status)
        {
          case "Reported":
            return "danger";
          case "Resolved":
            return "success";
          default:
            return "info";
        }
      }
    </script>
</body>

</html>
